fastapi
uvicorn[standard]
python-dotenv
pydantic
google-genai
PyJWT
sqlalchemy
psycopg[binary]
alembic
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma
pypdf
sentence-transformers
chromadb
transformers
safetensors
huggingface-hub
mlx-lm
